In [2]:
import pandas as pd
df= pd.DataFrame()
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: []
Index: []>

In [3]:
df

Empty DataFrame
Columns: []
Index: []

In [9]:
data= {"name": ["ahmed","aly","samir", "samer", "samy"], "age" : [21,33,21,12,45]}
df= pd.DataFrame(data)
df.head()

    name  age
0  ahmed   21
1    aly   33
2  samir   21
3  samer   12
4   samy   45

In [19]:
data =[ {'Name': 'Vijay',  'Age': 23},{'Name': 'Sundar',  'Age': 25},{'Name': 'Shankar',  'Age': 26}]
df = pd.DataFrame(data,columns=['Name','Age']) 
df.head()

      Name  Age
0    Vijay   23
1   Sundar   25
2  Shankar   26

In [15]:
data =[ {'Name': 'Vijay',  'Age': 23},{'Name': 'Sundar',  'Age': 25},{'Name': 'Shankar',  'Age': 26}]
df = pd.DataFrame(data,columns=['Name','Age'])

In [20]:
data= [("yasser",34),("ahmed",47),("abdelmo3ty",44)]
df= pd.DataFrame(data, columns=['Name','Age'])
df.head()

         Name  Age
0      yasser   34
1       ahmed   47
2  abdelmo3ty   44

In [21]:
dict1= {0:"ahma", 1:"wosam",2:'wagdy'}
series= pd.Series(dict1
                )
series

0     ahma
1    wosam
2    wagdy
dtype: object

In [23]:
import numpy as np
import panda as pd
arr= np.array([23,21,46,23,35])
series= pd.Series(arr1)
series

ModuleNotFoundError: No module named 'panda'